/* ********** Custom Properties ********** */

:root {
    --color-scheme: light;
    --font: "Open Sans", sans-serif;
    --font-titles: "Nunito", sans-serif;

    --font-family_1: "Poppins", sans-serif;
    --font-family_2: "Nunito", sans-serif;
    --font-family_3: var(--bs-font-monospace);

    --theme-color: #f7faff;
    --text-color: #454545;
    --link-color: #4255f2;
    --link-hover-color: #727ff6;

    --color_1: #023071;
    --color_2: #fefefe;
    --color_6: #6a82b0;
    --color_7: #4255f2;

    --background-color_9: #fefefe;  
    --background-color_18: #014267;

    --border-color_18: #014267;
}
