#Proof Archives
_AW1234
_nu1234
DevSecOps_Remote_Config
*.jar

# Virtual Enviroment python
.venv
.venv_win
*.vscode*
.pytest*
*pycache*
*_pycache_*
.*DS_Store
Pipfile

#Distribucioes de lib
**dist**
**.egg-info/
*.pyc
**_pycache_**
**tools/build/**
**build/lib**

#Ignorar cualquir archivo TXT
scanned_images.txt
*.pyc
data

#Archivos de Pruebas
.env
test-output.xml
report.html
out_report.xml
htmlcov
.coverage
coverage.xml
prueba.py
main.py
common_devsecops_lib/sheckov_scan.json
_core_test*
results.json
RULES_DOCKERcheckov_config.yaml
RULES_K8Scheckov_config.yaml
RULES_CLOUDFORMATIONcheckov_config.yaml
log/
twistcli
trivy*
trivy_*
*scan_result.json
jf
jf.exe
target
dependencies_to_scan
node_modules
DevSecOps_Remote_Config