# Virtual Enviroment python
.venv
*.vscode*
.pytest*
*pycache*
*_pycache_*

#Distribucioes de lib
**dist**
**.egg-info/
*.pyc
**_pycache_**

#Ignorar cualquir archivo TXT
**.txt
*.pyc
data

#Archivos de Pruebas
test-output.xml
report.html
out_report.xml
htmlcov
.coverage
coverage.xml
Pipfile
Pipfile-lock
prueba.py
main.py
common_devsecops_lib/sheckov_scan.json
