name: $(Build.SourceBranchName).$(date:yyyyMMdd)$(rev:.r)

variables:
  - name: system.debug 
    value: 'false'
  - name: url_repository_artifactory_pdn
    value: 'https://artifactory.apps.bancolombia.com/api/pypi/pypi-bancolombia'
  - name: url_repository_artifactory_qa
    value: 'https://artifactory.apps.bancolombia.com/artifactory/devops-toolset/DevSecOps/qa_artifact'
  - group: Artifactory

  
trigger:
  branches:
   include:
   - trunk
   - feature/*

resources:
- repo: self
  clean: true 
  fetchDepth: 1

queue:
  name: Release-cloud

steps:
- template: azurepipelines/deploy_libs_download.yml
- template: azurepipelines/build.yml
- template: azurepipelines/deploy.yml