multipledispatch==0.6.0
pyfiglet==0.7
requests==2.31.0
marshmallow==3.19.0
requests-toolbelt==1.0.0
isodate==0.6.1
pytz==2023.3
python-dateutil==2.8.2
azure-devops==7.1.0b3
python-decouple==3.8
requests_toolbelt
