<section class="container-secret-manager-form">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <div class="d-flex bd-highlight">
          <div class="w-100 bd-highlight">
            Config Tool <span>| Metrics Manager</span>
          </div>
          <div class="flex-shrink-1 bd-highlight">
            <app-tooltip
              tooltipTitle="Configuration of metrics manager for metric collection"
              fontSize="1rem"
            ></app-tooltip>
          </div>
        </div>
      </h5>
      <form [formGroup]="parentForm" class="row g-3">
        <div class="col-12">
          <div formGroupName="AWS">
            <div class="mb-3">
              <label for="bucket" class="form-label"
                >Bucket:
                <app-tooltip
                  tooltipTitle="Field to define the name of the configured S3 bucket"
                ></app-tooltip>
              </label>
              <div class="input-group has-validation">
                <input
                  formControlName="BUCKET"
                  type="text"
                  class="form-control"
                  [ngClass]="getAWSFormGroup() | inputValidation : 'BUCKET'"
                  [readonly]="false"
                  id="bucket"
                />
                <div class="invalid-tooltip">The Bucket is not valid.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="roleArnM" class="form-label"
                >Role ARN:
                <app-tooltip
                  tooltipTitle="Field to define the ARN of the role with access to the bucket"
                ></app-tooltip>
              </label>
              <div class="input-group has-validation">
                <input
                  formControlName="ROLE_ARN"
                  type="text"
                  class="form-control"
                  [ngClass]="getAWSFormGroup() | inputValidation : 'ROLE_ARN'"
                  [readonly]="false"
                  id="roleArnM"
                />
                <div class="invalid-tooltip">The Role ARN is not valid.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="regionNameM" class="form-label"
                >Region Name:
                <app-tooltip
                  tooltipTitle="Field to define the region of the bucket"
                ></app-tooltip>
              </label>
              <div class="input-group has-validation">
                <input
                  formControlName="REGION_NAME"
                  type="text"
                  class="form-control"
                  [ngClass]="
                    getAWSFormGroup() | inputValidation : 'REGION_NAME'
                  "
                  [readonly]="false"
                  id="regionNameM"
                />
                <div class="invalid-tooltip">The Region Name is not valid.</div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
