setuptools==68.0.0
wheel==0.40.0
pipenv==2023.6.18
pytest==7.3.1
pytest-cov==4.1.0
coverage_badge==1.1.0
flake8==6.0.0
black==23.3.0
pre-commit==3.3.3
checkov==2.3.296
requests==2.31.0
multipledispatch==0.6.0
PyYAML==6.0
pyfiglet==0.7
prettytable==3.8.0
azure-devops==7.1.0b3

